[user]
	name = "Jon Haddow"
	email = "jon@haddow.me"
[pull]
	rebase = true
[rebase]
	autoStash = true
[alias]
	l = log --graph --all
	s = status
	t = tag --sort=-v:refname # reverse chronological semver order
[url "https://"]
	insteadOf = git://
[core]
	editor = code --wait
	ignorecase = true